.flex {
  display: block;
  justify-content: space-between;
  align-items: center;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url('https://images.pexels.com/photos/1585969/nature-milky-way-galaxy-space-1585969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
 
}

.container {
  height: 90vh;
}
